<configuration>
    <appender name="STDOUT"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %-5level %d{yyyy-MM-dd HH:mm:ss.SSS} %msg%n
            </pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <variable name="DEPLOYMENT_ENVIRONMENT" value="${DEPLOYMENT_ENVIRONMENT:-development}" />
    <if condition='"${DEPLOYMENT_ENVIRONMENT}".equals("development")'>
        <then>
            <variable name="JOOQ_LOGLEVEL" value="DEBUG" />
        </then>
        <else>
            <variable name="JOOQ_LOGLEVEL" value="INFO" />
        </else>
    </if>

    <logger name="org.xnio" level="WARN" />
    <logger name="org.jboss.resteasy" level="WARN" />
    <logger name="com.zaxxer.hikari.HikariDataSource" level="WARN" />
    <logger name="org.jooq" level="${JOOQ_LOGLEVEL}" />
    <logger name="org.jooq.Constants" level="WARN" />
</configuration>