{
  "package": {
    "name": "snoozy-auth",
    "repo": "maven",
    "subject": "jubicoy"
  },

  "version": {
    "name": "${TRAVIS_TAG}",
    "desc": "Tagged build",
    "released": "${RELEASED_DATE}",
    "vcs_tag": "${TRAVIS_TAG}",
    "attributes": [],
    "gpgSign": false
  },

  "files": [
    {
      "includePattern": "snoozy-auth/target/(snoozy-auth-${TRAVIS_TAG}(.*)\.jar)",
      "uploadPattern": "/fi/jubic/snoozy-auth/${TRAVIS_TAG}/$1"
    },
    {
      "includePattern": "snoozy-auth/(pom.xml)",
      "uploadPattern": "/fi/jubic/snoozy-auth/${TRAVIS_TAG}/snoozy-auth-${TRAVIS_TAG}.pom"
    }
  ],
  "publish": true
}
